.form-container {
  max-width: 600px; /* Limita el ancho máximo del formulario */
  margin: 0 auto;   /* Centra el formulario en la pantalla */
}

.hero-section {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

.header-logo-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
