/* MainPage.css */

/* Estilos generales */
.categories-menu {
  display: flex; /* El menú de categorías será visible por defecto (en computadoras) */
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  /* El menú de categorías será oculto en dispositivos móviles */
  .categories-menu {
    display: none;
  }

  /* El menú hamburguesa será visible solo en dispositivos móviles */
  .menu-hamburguesa {
    display: block;
  }
}

/* El menú hamburguesa estará oculto en pantallas grandes por defecto */
.menu-hamburguesa {
  display: none;
}
