/* MainPage.css */

/* Estilos generales */
.categories-menu {
  display: none; /* El menú estará oculto por defecto */
}

/* MainPage.css */

/* Solo mostrar el botón de menú en pantallas pequeñas */
@media only screen and (max-width: 767px) {
  .header-logo-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: 40px;
    margin-right: 5px;
  }

  .marketlink-title {
    font-size: 18px;
  }
}
